/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

:root {
    --main-color: #0065FC;
    --filter-bg-color: #DEEBFF;
    --filter-gray: #D9D9D9;
    --main-bg-color: #F2F2F2;
}

/*center placeholder of the input*/
::placeholder {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: black;
    opacity: 1;
}

    /* or, for legacy browsers */

    ::-webkit-input-placeholder {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    :-ms-input-placeholder {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
/*end of center placeholder of the input*/

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* section header */
header {
    margin-bottom: 30px;

}


.logo_booki a img  {
    height: 19px;
    max-width: 61.1px;
    margin-top: 50%;
    margin-bottom: 50%;

}

/* {*/
/*    margin-top: 50%;*/
/*    margin-bottom: 50%;*/
/*}*/


.me-auto {
    margin-right: auto ;
}

.d-flex {
    display: flex ;
    height: 79px;


}

a {
    color: black;
    text-decoration: none; /* no underline */
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

li, ul, nav, body  {
    padding-top: 0px;
    margin-top: 0px;
    top: 0px;
}
.nav_buttons > a{
    padding-top: 0px;
    margin-top: 0px;
    top: 0px;
    min-width:113px;
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
    border-top:2px solid white;

}




.nav_buttons > a:active, .nav_buttons > a:hover {
    color: #0065FC;
    border-top:2px solid #0065FC;
}


.btn-centered {
    display: flex;
    justify-content: space-around;
}

/* end of header */

.row_flex {
    display: flex;
    flex-direction: row;
}

#input_icon {
    display: flex;
    align-items: center;
}

p {
    font-size: 16px;
    margin-top: 0px;

}

.headline {
    height: 53px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/


}

.headline h2 {
    height: 26px;
    margin-bottom: 8px;
}

.hebergements-title {
    margin-bottom: 4%;
}

.headline p {
    height: 19px;
}


.filters_buttons a {
    margin-left: 10px;
    padding: 0px 19px 0px 19px;
    border-radius: 25px;
    border: 2px solid var(--filter-gray);
    gap: 10px;
        max-height: 46px;
    height: 50px;


}

.filters_buttons > a:hover, .filters_buttons > a:active {

    background: #DEEBFF;

}

.i_info > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    width: 100%;
}

.search_bar {
    max-height: 50px;
    margin-top: 0px;
    padding-top: 0px;
    margin-top: 2%;
    margin-bottom: 0%;
}


.search_bar, .filtres, .i_info {
    display: flex;
}

.i_info .center {
    align-items: center;
    height: 22px;
    width: 22.65px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;


}

.fa-info {
    max-height: 10px;
    min-width: 4px;
    font-size: 10px;
    padding-left: 1px;
    padding-bottom: 1px;
}

.filtres h2, .hebergements-cards h2{
    font-size: 18px;
}

.filtres h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    max-height: 50px;
}


.filtres p {
    font-size: 17px;
    height: 20px;
    margin-top:auto;
    margin-bottom: auto;
    font-weight: bold;

}

.filters_buttons, .filters_buttons > a {
    display: flex;
    align-items: center;

}

.hebergements .section-title {
    margin-bottom: 5%;
}

.search_bar > .icon_background {
    min-height: 49px;

    padding-top: 0px;
    min-width: 50px;
    background: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;


}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar > button {
    min-height: 48px;

    background: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 16px 0px 16px;
    min-width: 132px;
    border: none;

}

.search_bar > input {
    min-height: 45.2px;
    border: none;

    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    top: 100%;
    bottom: 0;
    height: 45px;
    margin-bottom: 0px;


}



.rechercher {
    min-height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;

}


.icon {
    width: 22px;
    height: 16px;

    top: 7px;
    left: 10px;

}



.search_bar > button >i {
    color: white;
    display: none;
}







/* suite section hebergment*/
.section-title {
    margin: 0;
    font-size: 22px;
}

.hebergements-cards .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    max-width: 30%;
    min-height: 207px;

}

.card img {
    object-fit: cover;
    height: 50%;
}

.card-title {
    font-size: 16px;
}

.card-text {


}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}



/****** Hebergements ***********/
.hebergements {
    width: 65%;

    justify-content: space-between;
}

.hebergements-and-populaires  .populaires {

}

.hebergements .card {
    width: 29.0%;
    max-height: 207px;
    margin-bottom: 20px;


}

.hebergements .hebergements-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /*gap: 35px 20px;*/

}

.hebergements-cards img {
    min-width: 100%;

    border-radius: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

article a img {
    object-fit: cover;
    height: 50%;
}
.hebergements-cards .card-content {
    margin-top: -4px;
    padding-bottom: 13px;
    min-width: 250px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

}

.card-txt, .card-content {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;

}

/****** Populaires ***********/
.populaires {
    width: 32%;
    flex-direction: row;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0px 20px 20px 0px;}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-title {
    margin-top: 6%;
    margin-bottom: 5%;
}

.card-subtitle-h {

    margin-bottom: 5%;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.populaires-cards .card img{
    padding: 5px;
    background: white;
}

.hebergements-cards .card img{

}

/*activite à marseille*/

.activites {
    display: flex;
    padding: 2%;
}

.act .section-title{
    margin-bottom: 4%;
}
.act-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    gap: 2%;
}

.card-a, .act-cards {
    min-height: 439px;

}

.card-a {
    min-height: 439px;
    width: 25%;
    box-shadow: 0px 3px 15px 0px #F2F2F2;
    border-radius: 20px;

}

.card-a a img {
    min-width: 100%;
    min-height: 80%;
    object-fit: cover;
    width: 25%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-a > a > .card-title {
    /*margin-bottom: 50%;*/
    margin-top: 14%;
    margin-left: 10%;
    margin-right: 2%;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres {

        display: flex ;
        flex-direction: column;

    }

    .filtres h2 {
        margin-top: 4%;
        margin-bottom: 3%;
        max-height: 50px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* end of header */
    header {
        min-height: 115px;
        flex-direction: column;
    }
    header div {
        flex-direction: column ;
        align-items: center ;

    }

    header nav {
        width: 100%;

    }

    .me-auto {

        margin-right: auto;
        margin-left: auto;
    }

    .i_info .center {

        min-width: 22px;



    }


    body, .main-container {
        margin: 0px;
        padding: 0px;
    }




    li  {
     height: 100% ;


        width:50% ;

    }
    ul {
     padding-left: 0px ;

    }

    .nav_buttons > a {
        border-top: none;
        border-bottom:2px solid #F2F2F2;

    }

    .nav_buttons > a:active, .nav_buttons > a:hover  {
        border-top: none;
        border-bottom:2px solid #0065FC;

    }



    /* end of header */

    /*info group*/
    .rechercher {
        min-height: 432px;
        margin-bottom: 35px;
    }
    .recherche_outils {
        padding-left: 20px;
        padding-right: 20px;
        min-height: 432px;
        margin-bottom: 35px;
        padding-bottom: 0px;
    }
    .headline h2 {
        height: 52px;
    }

    .headline {
        height: 79px;

    }

    .search_bar {
        min-height: 49px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-top: 1px solid #F2F2F2;

        border-bottom: 1px solid #F2F2F2;
        border-radius: 15px 15px 15px 15px;

    }

    .search_bar > input {
        border: none;
        min-height: 49px;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 1px solid #F2F2F2;
    }


    .search_bar > button {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-width: 49px;
        min-height: 49px;
        border-radius: 15px 15px 15px 15px;

        /*border-top: 1px solid #F2F2F2;*/
    }

    .search_bar > button >i {
        color: white;
        display: block;
    }

    .search_bar > button >span{
        display: none;

    }

    .filters_buttons, .filters_buttons > a {
        max-width: 100%;
        flex-wrap: wrap;

    }

    .filtres {
        max-width: 100%;

    }

    .filtres p {
        font-size: 14px;

    }

    .filters_buttons > a {
        min-width: 35.9%;
        margin-left: 0px;
        padding: 0px;
        max-height: 38px;
        padding: 4px 19px 4px 19px;
    }

    .filters_buttons {
        display: flex;
        gap: 20px 10px;
        justify-content: space-between;
    }

    /*section group hebergement et les plus populaires*/

    .hebergements-and-populaires section {
        border-radius: 0px;
    }


    .hebergements-and-populaires  .populaires {
        order: 0;
        margin-top: 24px;
    }

    .hebergements-and-populaires .hebergements {
        order: 1;
        background: white;
    }
    .populaires-cards {
        flex-direction: column;
    }
    .populaires-cards .card {
        width: auto;
    }

    .hebergements-cards img {
        min-width: 100%;
        height: 60%;
        border-radius: 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

    }

    .hebergements .card {
        min-width: 305px;
    }




}