/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --filter-bg-color: #DEEBFF;
    --filter-gray: #D9D9D9;
    --main-bg-color: #F2F2F2;
}

/*center placeholder of the input*/
::placeholder {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: black;
    opacity: 1
}

    /* or, for legacy browsers */

    ::-webkit-input-placeholder {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    :-moz-placeholder { /* Firefox 18- */
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    :-ms-input-placeholder {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }
/*end of center placeholder of the input*/

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* section header */
header {
    height: 79px;
    margin-bottom: 30px;
}
.logo_booki a img {
    height: 19px;
    max-width: 61.1px;

}

header .d-flex .logo_booki a img   {
    margin-top: 50%;
    margin-bottom: 50%;

}



.me-auto {
    margin-right: auto ;
}

.d-flex {
    display: flex ;
    height: 79px;


}

a {
    color: black;
    text-decoration: none; /* no underline */
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}

li, ul, nav, body  {
    padding-top: 0px;
    margin-top: 0px;
    top: 0px;
}
.nav_buttons > a{
    padding-top: 0px;
    margin-top: 0px;
    top: 0px;
    min-width:113px;
    padding-top: 16px;
    display: flex;
    justify-content: space-around;
    border-top:2px solid white;

}




.nav_buttons > a:active, .nav_buttons > a:hover {
    color: #0065FC;
    border-top:2px solid #0065FC;
}


.btn-centered {
    display: flex;
    justify-content: space-around;
}

/* end of header */

.row_flex {
    display: flex;
    flex-direction: row;
}

#input_icon {
    display: flex;
    align-items: center;
}

p {
    font-size: 16px;
    margin-top: 0px;

}

.headline {
    height: 53px;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/


}

.headline h2 {
    height: 26px;
    margin-bottom: 8px;
}

.headline p {
    height: 19px;
}


.filters_buttons a {
    margin-left: 10px;
    padding: 0px 19px 0px 19px;
    border-radius: 25px;
    border: 2px solid var(--filter-gray);
    gap: 10px;
        max-height: 50px;
    height: 50px;


}

.filters_buttons > a:hover, .filters_buttons > a:active {

    background: #DEEBFF;

}

.i_info > p {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.search_bar {
    max-height: 50px;
    margin-top: 0px;
    padding-top: 0px;
}

.filtres, .filters_buttons {
    margin-bottom: 20px;
    max-width: 758px;
    display: flex ;
    justify-content: space-around ;

}
.search_bar, .filtres, .i_info {
    display: flex;
}

.filtres p {
    font-size: 17px;
    height: 20px;
    margin-top:auto;
    margin-bottom: auto;
    font-weight: bold;

}

.filters_buttons, a {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.search_bar > .icon_background {
    min-height: 49px;
    margin-top: 0px;
    padding-top: 0px;
    min-width: 50px;
    background: #F2F2F2;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;


}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar > button {
    min-height: 48px;

    background: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0px 15px 15px 0px;
    padding: 0px 16px 0px 16px;
    min-width: 132px;
    border: none;

}

.search_bar > input {
    min-height: 45.2px;
    border: none;

    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    top: 100%;
    bottom: 0;
    height: 45px;
    margin-bottom: 0px;


}





.recherche_outils {
    height: 281px;
}

.rechercher {
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.i_info {
    height: 24px;

}
#input_icon, .icon {
    width: 22px;
    height: 16px;

    top: 7px;
    left: 10px;

}

.i_info div #info_icon {
    width: 4px;
    height: 10px;

    top: 7px;
    left: 10px;

}

.i_info div {
    width: 22px;
    border: 1px solid #D9D9D9;
    border-radius: 12px;

}

.search_bar > button >i {
    color: white;
    display: none;
}







/* suite section hebergment*/
.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filtres {

        display: flex ;
        flex-direction: column;

    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* end of header */
    header {
        height: 115px;
    }
    header div {
        flex-direction: column ;
        align-items: center ;

    }

    header nav {
        width: 100%;

    }

    .me-auto {

        margin-right: auto;
        margin-left: auto;
    }



    body, .main-container {
        margin: 0px;
        padding: 0px;
    }




    li  {
     height: 100% ;


        width:50% ;

    }
    ul {
     padding-left: 0px ;

    }

    .nav_buttons > a {
        border-top: none;
        border-bottom:2px solid #F2F2F2;

    }

    .nav_buttons > a:active, .nav_buttons > a:hover  {
        border-top: none;
        border-bottom:2px solid #0065FC;

    }

    /* end of header */

    /*info group*/
    .recherche_outils {
        padding-left: 20px;
        padding-right: 20px;
    }
    .headline h2 {
        height: 52px;
    }

    .headline {
        height: 79px;

    }

    .search_bar {
        min-height: 49px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-top: 1px solid #F2F2F2;

        border-bottom: 1px solid #F2F2F2;
        border-radius: 15px 15px 15px 15px;
    }

    .search_bar > input {
        border: none;
        min-height: 49px;
        width: 100%;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-bottom: 1px solid #F2F2F2;
    }


    .search_bar > button {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        min-width: 49px;
        min-height: 49px;
        border-radius: 15px 15px 15px 15px;

        /*border-top: 1px solid #F2F2F2;*/
    }

    .search_bar > button >i {
        color: white;
        display: block;
    }

    .search_bar > button >span{
        display: none;

    }




}